{% extends "base.html" %}

{% block content %}
<div class="main">
    <p class="header">Quotes by order of popularity</p>
    <p class="link stackedlink">Select your favourite by clicking on the checkbox.</p>
    {% if errors %}
        <p class="link stackedlink">Your favourite could not be set.</p>
    {% elif favourite_set %}
        <p class="link stackedlink">Favourite quote set!</p>
    {% endif %}
    {% for form in all_forms %}
        <form action="popularity" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ form.set_favourite.label }}" name="quote_text">
            <p class="link stackedlink">From {% if form.set_favourite.help_text.link %}<a href="{{ form.set_favourite.help_text.link }}">{% endif %}<span class="makebold">{{ form.set_favourite.help_text }}</span>{% if form.set_favourite.help_text.link %}</a>{% endif %}: {{ form.set_favourite.label }} {{form.set_favourite}}</p>
        </form>
    {% endfor %}
     <p class="link"><a href="{% url 'poll' %}">-- Answer one of our polls --</a></p>
     <p class="link stackedlink"><a href="{% url 'profile' %}">Would you like to go back to your profile?</a></p>
    {% block home %}{{ block.super }}{% endblock %}
</div>
{% endblock %}