
/* Common & Quotes */

body {
    background: #260d26;
}

.main {
    color: #e0ebeb;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 100px;
    margin: 100px 30px 30px 30px;
}
.main .home a:link {
    color: #e0ebeb;
    text-decoration: none;
}
.main .home a:visited {
    color: #e0ebeb;
    text-decoration: none;
}
.main .home a:hover {
    color: #92b9b9;
    text-decoration: none;
}
.main .home .fa-home {
    font-size: 35px;
    margin-top: 50px;
}
.main .header {
    font-size: 25px;
    padding-bottom: 15px;
}
.main .quote {
    font-size: 32px;
}
.main .source {
    font-size: 25px;
}
.main .link {
    font-size: 20px;
    margin-top: 60px;
}
.main .link a:link {
    color: #e0ebeb;
    text-decoration: none;
    font-style: italic;
}
.main .link a:visited {
    color: #e0ebeb;
    text-decoration: none;
    font-style: italic;
}
.main .link a:hover {
    color: #6d4f46;
    text-decoration: none;
    font-style: italic;
}

/* Index */


.main .title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 70px;
}
.main .options {
    font-size: 25px;
    list-style-type: none;
}
.main .options span {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
}
.main .options a:link {
    color: #e0ebeb;
    text-decoration: none;
}
.main .options a:visited {
    color: #e0ebeb;
    text-decoration: none;
}
.main .options a:hover {
    color: #6d4f46;
    text-decoration: none;
}
.main .intro {
    padding-bottom: 5px;
    font-style: italic;
    font-size: 25px;
}

/* Media specific & small screens */

@media only screen and (max-device-width: 768px) {
    .main .header {
        font-size: 34px;
    }
    .main .quote {
        font-size: 43px;
    }
    .main .source {
        font-size: 34px;
    }
    .main .options {
        font-size: 34px;
    }
    .main .title {
        font-size: 45px;
    }
    .main .intro {
        font-size: 30px;
    }
}
