[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
amqp = "*"
billiard = "*"
celery = "*"
dj-database-url = "*"
Django = "*"
django-celery-beat = "*"
django-heroku = "*"
gunicorn = "*"
kombu = "*"
mysqlclient = "*"
pkg-resources = "*"
psycopg2 = "*"
pytz = "*"
redis = "*"
vine = "*"
whitenoise = "*"
