[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
celery = "*"
redis = "*"
django_celery_beat = "*"
"psycopg2" = "*"
raven = "*"
argparse = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
