{% extends "base.html" %}

{% block content %}
<div class="main">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p class="link"><a href="{% url 'lost_password' %}">If you forgot your password, get help here.</a></p>
    <p class="link stackedlink"><a href="{% url 'new_user' %}">Are you a new user? Create an account here.</a></p>
    {% block home %}{{ block.super }}{% endblock %}
</div>
{% endblock %}
