{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class='main'>
    <p class='header'>If you forgot your password, enter your email address below. You should receive an email with instructions for setting a new one.</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">'Email address:'</label>
                {{ form.email }}
            </div>
            <input type="submit" value="'Reset my password'">
        </fieldset>
    </form>
</div>