{% extends "base.html" %}

{% block content %}
<div class="main">
    <p class="header">This is your profile, {% if profile.user.first_name %}{{profile.user.first_name|title}}{% else %}{{ profile.user.username|title }}{% endif %}.</p>
    <form action="profile" method="post">
        {% csrf_token %}
        <p>
            {{ form.first_name.errors }}
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </p>
        <p>
            {{ form.subscribed.errors }}
            {{ form.subscribed.label_tag }}
            {{ form.subscribed }}
        </p>
        <input type="submit" value="Apply changes" />
    </form>
    <form action="{% url 'popularity' %}">
        <p class="header middleheader">Favourite quote:</p>
        <p class="link stackedlink">
            {{ profile.favourite_quote.quote_text }}
        </p>
        <input type="submit" value="Change favourite quote" />
    </form>
    {% if changed %}
        <p class="link">Changes applied</p>
    {% endif %}
    <p class="link"><a href="{% url 'password_change' %}">Change password</a></p>
    <p class="link stackedlink"><a href="{% url 'poll' %}">Check the polls</a></p>
    <p class="link stackedlink"><a href="{% url 'logout' %}">Would you like to log out now?</a></p>
    {% block home %}{{ block.super }}{% endblock %}
</div>
{% endblock %}