{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main">
    {% if validlink %}

    <p class="header">Please enter your new password twice below.</p>

    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_ne<!-- <!--  --> -->w_password2">Confirm password:</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Change my password">
    </fieldset>
    </form>

    {% else %}

    <p class="link">The password reset link was invalid, it may have already been used.</p>
    <p class="link">Please request a new password reset.</p>

    {% endif %}
</div>