{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main">
    {% if quote %}
        <p class="header">{{frequency|capfirst}} quote {% if quotes_context %}from {{quotes_context.common_origin}}{% endif %}:</p>
        <p class="quote">{{quote.quote_text}}</p>
        <p class="source">
            From {% if quotes_context %}the {{quotes_context.type_of_source}} {% endif %}
            {{quote.source.name|title}}
        </p>
        {% if quote.source.link %}
            <p class="link">
                <a href="{{quote.source.link}}">-- watch --</a>
            </p>
        {% endif %}
    {% else %}
        <p class="header">There is no {{frequency|lower}} quote available</p>
    {% endif %}
    <p class="home">
        <a href="{{home}}">
            <i class="fas fa-home"></i>
        </a>
    </p>
</div>
