{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

{% block content %}
    {% block home %}
        <p class="home">
            <a href="/">
                <i class="fas fa-home"></i>
            </a>
        </p>
    {% endblock %}
    {% block user %}
        <p class="link"><a href="/profile">{% if loggedin_user %}Visit your profile, {{loggedin_user|title}}{% else %}Log in and subscribe to daily quote emails.{% endif %}</a></p>
    {% endblock %}
{% endblock %}